html {
    scroll-behavior: smooth;
}

body {

    margin: 0;
    padding: 800;
    background: linear-gradient(#65f0e7 50%, #e2e217 50%);
}

#image {
    height: 300px;
    width: 300px;
}

h1 {
    text-shadow: 5;
    margin-bottom: 20px;
    font-family: 'Yusei Magic', sans-serif;
}

.main {
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}

.list {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px
}

.list:hover {
     font-size: 25px;
    text-decoration: underline;
}

#img {
    height: 150px;
    width: 150px;
}

#img1:hover {
    transform: scale(0.9)
}

#contact {
    background: firebrick;
}

#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    color: white;
    text-shadow: none;
}
